<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904056375301-h79gclm0vuosa2pblkmeu1002nn8ag6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904056375301-h79gclm0vuosa2pblkmeu1002nn8ag6b</string>
	<key>API_KEY</key>
	<string>AIzaSyADxKUhvCP4zBfGopUsgMSQ2bsteJ0XMJc</string>
	<key>GCM_SENDER_ID</key>
	<string>904056375301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-8f4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-8f4ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904056375301:ios:74c2645dcf24d9088ff46c</string>
</dict>
</plist>